
@font-face {
  font-family: "Dunkinkopjes";
  src: url("../fonts/Dunkinkopjes.otf") format("opentype");
}

@font-face {
  font-family: "Dunkintekst";
  src: url("../fonts/Dunkintekst.otf") format("opentype");
}

/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
  --color-welovecoffee:#D2B48C;
  --color-textkoppen:#fff;
  --color-bestel:#ED0085;
  --color-em:#FC592A;
  --color-p:#9F9F9F;
  --color-ajax:#7BBFDD;
  --color-app:#000000;
  --color-lichtgrijs:#D7D7D7;
}





/*******************/
/* GENERAL STYLING */
/*******************/

body {
  color:var(--color-text);
  background-color:var(--color-background);
  font-family:'Dunkintekst', sans-serif;
  margin:0;
}

h2 {
  font-family: 'Dunkinkopjes', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color:var(--color-textkoppen);
  text-transform: uppercase;
  line-height: 1em;
  text-align: center;
  margin:0;
}


h3 {
  font-family: 'Dunkinkopjes', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin:0;
  line-height: 1em;
  font-size:1.10em;
}


a {
  text-decoration: none;
}

img {
  /* width: 10em;
  margin-left: 20em;
  margin-top: 2em; */
  max-width:100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



main{
  max-width:1000
}



/**********/
/* HEADER */
/**********/

header{
  position: relative; /* zodat de absolute button binnen de header blijft */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

/* schuifmenu */
header nav{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  transform:translateX(-100%);
  background-color:var(--color-lichtgrijs);
  transition: 0.3s;
}

header nav.toonMenu{
  transform:translateX(0%);
    z-index: 1;
    align-items: center;
}

header nav ul {
  margin:0;
  padding:0;
  list-style:none;
  background-color:var(--color-lichtgrijs);
}

header nav a{
  color:var(--color-app);
  font-size: 2em;
  display: flex;
  justify-content: center;
}

/* menu button */
header button{
  order:2;
  z-index: 100;
  padding:0;
  height: 2.75em;
  position:absolute;
  right:1em; /* minimale grootte voor tekst */
  bottom:1.125em; /* naast het logo */
  font-size:1em;
}

header button.menuIsOpen{
  background-color:var(--color-lichtgrijs);
}

/* logo */
header img{
  height: 5em;
  width: 10em;
  order:1;
}

/* voor 10 uur besteld */
header p {
  background-color:var(--color-em);
  margin-top: 0;
  display:block;
  width:100%;
  /* order:0; */ /* dat is de default - hoef je niet te doen */
}

/* header a:nth-of-type(5){
display:none;
} */

@media (min-width: 48em) {
  header {
    justify-content: space-between;
  }

  header nav {
    position: absolute;
    transform:none;
    background:none;
    order:1; /* als laatste naast het logo */
    left:25em;
    top:5em;
  }

  header nav ul {
    display:flex;
    gap:1em;
    margin-right:1em;
  }

header nav a{
  color:var(--color-app);
}

  header img {
    margin-left:1em;
  }

  header button {
    display: none; /*  niet meer nodig */
  }
}


/* header {
  padding: .5em;
  text-align: center;
  background: #ff6e0c;
  color: white;
  font-size: 8px; /* klein
  width: 100vw;
  margin-top: 0;
} */


/* header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap:3em;
} */

/* header a {
  color: black;
} */





/********/
/* MAIN */
/********/


main div{
  display:grid;
  gap:1em;
  padding:1em;
}

/* section */
/* we love coffee */

main div section:nth-of-type(1){
  position:relative;
  /* wat uitsteekt is niet te zien */
  overflow:hidden;

  /* dit is het achtergrondplaatje */
  background-image: url(../images2/coffeeachtergrond.svg);
  background-size:cover;
  background-position:center center;
  /* en de kleur */
  background-color: var(--color-welovecoffee);

  border-radius:2em;
}


main div section:nth-of-type(1) a {
  /* om de h2 en image in het midden te zetten */
  display:grid;
  justify-items:center;
  gap:2em;
  padding: 2em;
}

main div section:nth-of-type(1) h2{
  font-size:clamp(2em, 10vw, 4em);
}

main div section:nth-of-type(1) h2 span{
  display: block;
/* zorgt ervoor dat het op een andere regel blijft staan*/
}

main div section:nth-of-type(1) img {
  display:block; /* slim */
  width:50%;
  height:auto;


  /* om het plaatje naar beneden te schuiven */
  /* doordat de section overflow:hidden heeft zie je het deel dat uitsteekt niet */
  margin-bottom:-10em;
  /* beetje leijk - beter om het plaatje zelf een stuk af te snijden in photoshop */
}






/* section */
/* bestel */
main div section:nth-of-type(2){
  background-color:var(--color-bestel);
  text-align: center;
  padding:2em;
  margin:0;
  border-radius:2em;

  display:grid;
  gap:1em;
  grid-template-columns: 1fr 1fr;
}

main div section:nth-of-type(2) h2{
  font-size:clamp(2em, 10vw, 3em);
  grid-column-start: 1;
  grid-column-end: -1;
}

main div section:nth-of-type(2) p{
  color:var(--color-textkoppen);
  text-align: left;
  margin:0;
  grid-column-start: 1;
  grid-column-end: -1;
}



main div section:nth-of-type(2) button{
  padding:1em;
  border-radius: .5em;
  border: none;
  color:var(--color-textkoppen);
  background-color:rgb(255 255 255 / .25); /* thanks sanne*/
}

main div section:nth-of-type(2) button:hover{
  color:var(--color-app);
}

main div section:nth-of-type(2) button:focus{
  color:var(--color-bestel);
  background-color: var(--color-textkoppen);
}

main div section:nth-of-type(2) button:active{
  background-color: var(--color-em);
}

/* section 3 in div */
/* ajax */
main div section:nth-of-type(3){
  position:relative;
  /* wat uitsteekt is niet te zien */
  overflow:hidden;

  /* dit is het achtergrondplaatje */
  /* en de kleur */
  background-color:var(--color-ajax);

  border-radius:2em;
}

main div section:nth-of-type(3) a {
  /* om de h2 en image in het midden te zetten */
  display:grid;
  justify-items:center;
  padding: 2em;
}

main div section:nth-of-type(3) h2{
  font-size:clamp(2em, 10vw, 3em);
}

main div section:nth-of-type(3) h2 span{
  display: block;
/* zorgt ervoor dat het op een andere regel blijft staan*/
}

main div section:nth-of-type(3) img {
  display:block; /* slim */
  width:80%;
  height:auto;


  /* om het plaatje naar beneden te schuiven */
  /* doordat de section overflow:hidden heeft zie je het deel dat uitsteekt niet */
  margin-bottom:-10em;
}

/*  */
/* SECTION MET "APP JIJ M AL " */
/*  */

main section:nth-of-type(2){
  background-color:var(--color-ajax);
    border-radius:2em;
    position:relative;
}

main section:nth-of-type(2) img:nth-of-type(1){
width:14em;
}

main section:nth-of-type(2) a{
  display:grid;
  justify-items:center;
  /* om de images in het midden te zetten */
  gap:1em;
  padding: 1em;
}

main section:nth-of-type(2) h3, h2, p{
  text-align: center;
  padding:.5em;
  color:var(--color-textkoppen);
}

main section:nth-of-type(2) p span{
  display: block;
}


/*  */
/* section met carousel */
/*  */
main section:nth-of-type(3){
  position: relative;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

main section:nth-of-type(3) h2{
  color:var(--color-em);
}

main section:nth-of-type(3) em{
  color:var(--color-bestel);
}

main section:nth-of-type(3) ul li h2{
  color:var(--color-textkoppen);
  background-color:var(--color-em);
  font-size: 1em;
  display:block;
  padding:1em 2em;
  border-radius:10em;
  order:1;
}


main section:nth-of-type(3) ul{
  display:flex;
  list-style: none;
  margin:0;
  padding:0;
  overflow-x:scroll;
  width:100%;
  gap:2em;
}

main section:nth-of-type(3) li{
  width:min(100%, 28em);
  flex-shrink: 0;
  display:flex;
  flex-direction: column;
  border:solid;
  border-color:var(--color-lichtgrijs);
  border-radius:1em;
  padding:.5em;
}

main section:nth-of-type(3) li img{
  order:-1;
}

main section:nth-of-type(3) p{
  color:var(--color-app);
  order:2;
}

/* buttons in section 3 */
main section:nth-of-type(3) button {
  /* position:absolute;  */
  width:2.5em;
  height: 2.5em;
  border-radius:50%;
}

@media (min-width: 41em) {
 main div{
   grid-template-columns: 2fr 1fr;
 }

 main div section:nth-of-type(1){
   grid-row-start:1;
   grid-row-end:3;
 }

 main div section:nth-of-type(1) h2{
   font-size:clamp(2em, 6vw, 4em);
 }

 main div section:nth-of-type(2) h2{
   font-size:clamp(2em, 4vw, 3em);
 }

 main div section:nth-of-type(3) h2{
   font-size:clamp(2em, 4vw, 3em);
 }

}


/* section 1 in de main */
/* bestellen */

main > section:nth-of-type(1) {
display:grid;
gap:1em;
padding:1em;

}

main > section:nth-of-type(1) h2{
  color:var(--color-bestel);
  display: flex;
  flex-direction: column;
  font-size: 3em;
  text-align: left;
  /* gap minder tussen tekst, hoe??*/
}

main > section:nth-of-type(1) h2 em{
  color:var(--color-em);
  font-style: normal;
}

main > section:nth-of-type(1) ol{
  margin:0;
  padding:0;
  display:grid;
  gap:1em;
}


main > section:nth-of-type(1) ol li{
  padding:1em;
  color:var(--color-bestel);
  background-color:var(--color-textkoppen);
  border-radius:1.5em;
  display:grid;
  grid-template-columns:max-content 1fr;
  gap:1em;
}

main > section:nth-of-type(1) h3{
font-weight: bold;
margin:0;
align-self: end;
}

main > section:nth-of-type(1) p{
  color:var(--color-p);
  margin:0;
}



main > section:nth-of-type(1) img{
  height: 4em;
  width: 4em;
  background-color:var(--color-bestel);
  border-radius:10em;
  grid-column-start: 1;
  grid-row-start:1;
  grid-row-end:3;
  justify-self:center;
  align-self: center;
}

/* lukt niet om met grid samen naast elkaar te zetten*/

/* ik wil de 3e img aanroepen in deze section, weet allen niet hoe want die moet
een andere achtergrondkleur*/

main > section:nth-of-type(1) a{
  background-color:var(--color-em);
  border-radius:10em;
  padding:1em;
  color:var(--color-textkoppen);
  display:block;
  text-align:center;
}

main > section:nth-of-type(1) a:hover{
  color:var(--color-app);
}

main > section:nth-of-type(1) a:active{
  background-color:var(--color-bestel);
  color:var(--color-textkoppen);
}

main > section:nth-of-type(1) a:focus{
  color:var(--color-app);
  background-color: var(--color-lichtgrijs);
}


@media (min-width:41em){
  main > section:nth-of-type(1){
    grid-template-columns: 3fr 4fr;
  }

  main > section:nth-of-type(1) ol{
    grid-column-start:2;
    grid-row-start:1;
    grid-row-end:3;
  }

  main > section:nth-of-type(1) h2{
    align-self:end;
  }

  main > section:nth-of-type(1) a{
    align-self:start;
    justify-self:start;
    padding:1em 3em;
  }
}



main > section:nth-of-type(4){
  color:var(--color-textkoppen);
  background-color:var(--color-ajax);
  text-align: center;
}

main > section:nth-of-type(4) img{
  width: 10em;
}

main >  section:nth-of-type(5) img{
  background-color:var(--color-ajax);
}

main > section:nth-of-type(5) h2{
  color:var(--color-bestel);
}

main > section:nth-of-type(2) img:nth-of-type(1){
color:var(--color-em);
}

@media (min-width: 54em) {
  main section:nth-of-type(3) {
    max-width:48em;
    margin:0 auto;
  }

  main section:nth-of-type(3) ul {
    scroll-snap-type: x mandatory;
  }

  main section:nth-of-type(3) li {
    scroll-snap-align: center;
    width:calc((100% - 4em) / 3);
  }

  main section:nth-of-type(3) button {
    position:absolute;
    top:12em;
  }

  main section:nth-of-type(3) button:nth-of-type(1) {
    left:-4em;
  }

  main section:nth-of-type(3) button:nth-of-type(2) {
    right:-4em;
  }
}


/*  */
/*  */
/* FOOTER */
/*  */
/*  */

body {
	margin:0;
}

footer {
	position:relative;

/* 	background-color:darkorange; */

	background-image:
		linear-gradient(white 3em,
		darkorange 3em);

	display:flex;
	flex-direction:column;
	gap:2em;
	padding:0 1em 2em 1em;
}

footer img{
  display:block;
  width:6em;
  margin:0 auto 0 auto;
   /*in het midden zonder flex of grid */
   background-color:var(--color-textkoppen);
   border-radius:50%;
   box-shadow: .1em .1em .2em #000c;
   overflow: hidden;
}



/* menu */
footer nav:nth-of-type(1) ul{
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:2em;
}

footer nav:nth-of-type(1) ul a{
  display:block;
  padding:1em;
  border-radius:10em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color:var(--color-em);
  color:var(--color-textkoppen);
}

footer nav:nth-of-type(2) ul{
  margin:0;
  padding:0;
  list-style:none;
  display: flex;
  gap:1em;
  justify-content: center;

}

footer nav:nth-of-type(2) ul a {
  display: block;
  width:2.5em;
  aspect-ratio:1/1;
  background-color:white;
  border-radius:50%;

  display:grid;
  justify-content: center;
  align-items: center;
}

@media (min-width:41em) {
  footer{
    padding:1em 3em;
    flex-direction: row;
    align-items: center;
    background-image:
		linear-gradient(
			white 0em 4em,
			darkorange 4em 8em,
		  white 8em 12em
    );
  }

footer img{
  width: 9em;
}

/* menu in het footer*/
footer nav:nth-of-type(1) ul {
  flex-direction:row;
 }
footer nav:nth-of-type(1) ul a {
  border-radius:0;
  padding:0 1em;
  /* line-height:2em; */
  background-color:transparent;
 }
}
